# Dev directory with real credentials
dev/

# Compiled binary
terraform-provider-kkem

# Terraform files
.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl

.codemate
.idea

# Agent Context File
CLAUDE.md